@model Shedule.Data.Model.Lesson

@{
    ViewBag.Title = "Lesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lesson</h2>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeachingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeachingID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Begin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Begin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
