@model Shedule.Web.ViewModels.SheduleForSchoolboy
@{
    ViewBag.Title = "Расписание для ученика";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/modules/dropDownHelper.js" type="text/javascript"></script>
}

<div>
    <h3>Добавить урок.</h3>
    @using (Html.BeginForm("AddLesson", "Schoolboy"))
    {
        <input type="hidden" name="schoolboyId" value="@Model.SchoolboyId"/>
        <select id="teachings" >
        @foreach (var teaching in Model.Teachings)
        {
            <option value="@teaching.Value">
                @teaching.Text
            </option>   
        }
        </select>
        <select id="lessonsDropDown" name="lessonId"></select>
        <select id="tariffsDropDown" name="tariffId"></select>
        <input type="submit" value="Добавить"/>
    }

    @foreach (string className in Model.Lessons.Keys)
    {
        <div class="col-md-4">
            <h2>@className</h2>
            <ol>
                @foreach (var lesson in Model.Lessons[className])
                {
                    <li>
                        @Html.ActionLink(lesson.Name, "Details", "Lesson", new { id = lesson.Id }, new object { })
                    </li>
                }
            </ol>
        </div>
    }

    <h3>Расписание для ученика: <label>@Model.FirstName @Model.LastName</label></h3>

    <div class="row">
        @foreach (var day in Model.Days.Values)
        {
            <div class="col-md-4">
                <h4>@day.Name</h4>
                <ol>
                    @for (int i = 1; i <= 8; i++)
                    {
                        var lessonsForPeriod = day.Lessons.Where(l => l.PeriodNumber == i);
                        <li>
                            @foreach (var lesson in lessonsForPeriod)
                            {
                                @:- @(Html.ActionLink(lesson.Name, "Get", "Teaching", new { teachingId = lesson.TeachingId }, new object { }))
                                <text>, каб. @lesson.ClassroomName </text>
                                <br />
                            }
                        </li>
                    }
                </ol>
            </div>
        }
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>