@model Shedule.Web.Models.SheduleForTeachingViewModel

@{
    ViewBag.Title = "SheduleForTeaching";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Расписание для предмета: @Html.DisplayFor(model => model.TeachingName)</h1>

<div class="row">
    @foreach (var day in Model.Days.Values)
    {
        <div class="col-md-4">
            <h2>@day.Name</h2>
            <ol>
                @for (int i = 1; i <= 8; i++)
                {
                    var lessonsForPeriod = day.Lessons.Where(l => l.PeriodNumber == i);
                    <li>
                        @foreach (var lesson in lessonsForPeriod)
                        {
                            @:- @(Html.ActionLink(lesson.TeacherName, "Details", "Lesson", new { id = lesson.Id }, new object { }))
                            <text>, каб. @lesson.ClassroomName </text> 
                            <br />
                        }
                    </li>
                }
            </ol>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Редактировать", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Вернуться к списку предметов", "Index")
</p>
