@model List<Shedule.Web.ViewModels.TeachingViewModel>

@{
    ViewBag.Title = "Предметы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p>
    @Html.ActionLink("Добавить новый предмет", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название предмета
        </th>
        <th>
            Цена грн/час
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Расписание", "SheduleForTeaching", "Shedule", new { teachingId = item.Id }, new object { })
        </td>
        <td>
            @Html.ActionLink("Добавить урок", "Add", "Lesson", new { }, new object { })
        </td>
        <td>
            @*@Html.ActionLink("Редактировать", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Детали", "Get", new { teachingId = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { teachingId = item.Id })
        </td>
    </tr>
}

</table>
