@model Shedule.Web.ViewModels.TeacherViewModel

@{
    ViewBag.Title = "информация о преподавателе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <br />
    <h4>Информация о преподавате</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Имя</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            <label>Фамилия</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LasName)
        </dd>

        <dt>
            <label>Отчество</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            <label>О преподавателе</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <label>научная степень</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            <label>День рождения</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
