@model Shedule.Web.ViewModels.AddLessonViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            <p>Преподователь: </p>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Teachers, Model.Teachers, new { Name = "TeacherId" })
            </div>
        </div>

        <div class="form-group">
            <p>Предмет: </p>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Teachings, Model.Teachings, new { Name = "TeachingId" })
            </div>
        </div>

        <div class="form-group">
            <p>День недели: </p>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Days, Model.Days, new { Name = "DayOfWeekNumber"})
            </div>
        </div>

        <div class="form-group">
            <p>Номер урока: </p>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Periods, Model.Periods, new { Name = "PeriodNumber"})
            </div>
        </div>

        <div class="form-group">
            <p>Кабинет: </p>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Classrooms, Model.Classrooms, new { Name = "ClassroomId" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить урок" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
